.logo-search .search-lang .lang ul{
    display: flex;
  
}
.logo-search .search-lang
{
    float: right;
}
.logo-search .search-lang .lang ul li{
 list-style: none;
 padding-left: 10px;
}
.logo-search .search-lang .lang
{
    margin-bottom:3px ;
    border-bottom:1px solid black ;
}
.logo-search{
    margin-bottom:20px ;
}
footer .title
{
height: 40px;
}
footer .title .menu 
{
    padding: 7px;
}
footer .title ul
{
    justify-content: space-around;
    list-style: none;
    display: flex;
    padding: 0;
}
footer .title ul li a{
    color: white;
    text-decoration: none;

}
.footer .title ul li a:hover
{
    color: cornflowerblue;
}
.dnn-content ul
{
    display: flex;
    margin-top:10px ;
}
.dnn-content ul li
{
    list-style: none;
    padding-left: 50px;
    text-align: center;

}
footer
{
    background-color: #132685;
}
.dnn-content ul li p{
    padding-top:10px ;
}
.dnn-content ul
{
    border-bottom:1px solid gray ;
}
.bd-row-right .thongbao ul li a,.bd-row-right .tintuc ul li a
{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
.bd-row-right .thongbao ul li a:hover,.bd-row-right .tintuc ul li a:hover
{
color:blue;
}
.bd-row-right .thongbao ul li 
{
    list-style: none;
    padding: 5px;
    border-bottom:1px solid gray ;
}
.bd-row-right .thongbao ul li a img{
    margin: 3px;
}
.bd-row-right .thongbao ul
{
    padding: 0px;
}
.bd-row-right .tintuc ul 
{
    padding: 0px;
}
.bd-row-right .tintuc ul li
{
padding: 3px;
}
.tuyensinh .thongbao-tuyensinh ul li a
{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
.tuyensinh .thongbao-tuyensinh ul li
{
    padding: 5px;
    border-bottom:1px solid gray ;
}
.khcn .khcn-cell4 ul li{
    list-style: none;
    padding-top: 10px;
}
.khcn .khcn-cell4 ul
{
    padding-left: 0px;
}
.daotao .daotao-cell4 ul li a , .doingoai .doingoai-cell4 ul li a
{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.daotao .daotao-cell4 ul li, .doingoai .doingoai-cell4 ul li
{
    padding: 5px;
    border-bottom:1px solid gray ;
}
.svtuonglai img, .svhientai img, .cuusv img{
    margin: 10px;
}
.sinhvien .svhientai ul,
.sinhvien .svtuonglai ul,
.sinhvien .cuusv ul
{
    padding-left: 20px;
} 
.sinhvien .svhientai ul li a,
.sinhvien .svtuonglai ul li a,
.sinhvien .cuusv ul li a
{
    color: black;
}
.infor .img-infor a{
    padding-top: 10px;
    padding-left:15px ;
}
.infor-bottom .addresshn, .infor-bottom .addressmn
{
    display: flex;
    padding:20px;
}
.infor-bottom .addresshn
{
    border-bottom: 1px solid black ;
}
.infor-bottom .addresshn .hungyen, .infor-bottom .addressmn .viendaotao
{

    padding-left: 30px;
}
.infor-bottom .mess  img,.infor-bottom .mess  div
{
    position: fixed;
    right: 30px;
    bottom: 20px;
}
.infor-bottom .maps
{
    width: 300px;
    padding-top: 50px;
    margin-right: 30px;
}
.infor-bottom .maps img{
    width: 100%;
}
.infor-bottom .addresshn ,.infor-bottom .addressmn
{
    margin-left: 20px;
}


/* css thong bao va tin tá»©c*/

main .tb_tt_content ul
{
    list-style: none;
    
}
main h2{
    text-align: center;
    
}
main .tb_tt_content ul li a{
    text-decoration: none;
    display: block;
}
